html{
scroll-behavior: smooth;
}

*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}

body {
 background-color: #2e2b25;
 color: burlywood;
 font-family: "Fira Sans", sans-serif;
 line-height: 1.6;
 background-image: url('../assets/images/bg-texture.jpg');
 background-attachment: fixed;
 background-size: cover;
 padding-top: 60px;
}

::selection{
 background-color: #557a46;
 color:white;
}

nav{
 position: fixed;
 top:0;
 left:0;
 right:0;
 background-color: rgba(40, 38, 32, 0.92);
 display:flex;
 justify-content: space-between;
 align-items:center;
 padding: 10px 25px;
 border-bottom: 1px solid #c4a484;
 z-index:100;
}

nav h1{
 color:goldenrod;
 font-size:1.6rem;
 letter-spacing: 1px;
 text-shadow:0 0 5px #1e1e1e;
}

nav a{
 color: burlywood;
 margin-left:15px;
 text-decoration:none;
 transition:0.3s;
}

nav a:hover{
 color:gold;
 text-decoration:underline;
 cursor:pointer;
}

.grid{
 display: grid;
 grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
 gap:20px;
 margin:40px auto;
 width:80%;
 text-align:center;
}

.grid a{
 background-color: rgba(50, 50, 50, 0.8);
 padding: 20px;
 border-radius: 10px;
 color:burlywood;
 border:1px solid #5a4d2f;
 transition: 0.3s;
}

.grid a:hover{
 background-color:#4f4a36;
 transform: scale(1.05);
}

main img{
 display:block;
 margin: 20px auto;
 border-radius:10px;
 border:2px solid #a3833b;
}

main p{
 max-width:600px;
 text-align:center;
 margin: 10px auto;
 padding:15px;
 color:#e3cda4;
}

main a{
 display:block;
 text-align:center;
 margin-top:10px;
 color:#e0c27b;
 text-decoration: underline;
}

main a:hover{
 color:white;
}

.auth{
 display:flex;
 justify-content:center;
 align-items:center;
 height:90vh;
}

form{
 background-color: rgba(25,25,25,0.93);
 padding:30px;
 border-radius:10px;
 width:340px;
 box-shadow:0 0 10px rgba(50,50,50,0.4);
}

form h1{
 color:gold;
 margin-bottom:20px;
 text-align:center;
}

input,button{
 width:100%;
 margin:7px 0;
 padding:10px;
 border-radius:5px;
 border:none;
}

input{
 background-color:#3c3a36;
 color:white;
}

input:focus{
 outline:1px solid goldenrod;
}

button{
 background-color: goldenrod;
 color:black;
 font-weight:600;
 cursor:pointer;
 transition:0.3s;
}

button:hover{
 background-color: gold;
}

footer{
 text-align:center;
 padding:20px;
 color:#cbb67e;
 background-color: rgba(30,28,25,0.9);
 border-top: 1px solid #c4a484;
 margin-top:40px;
 font-size:14px;
}
